<Config>
	<System>
		<Port>53</Port>
		<TCPThreadPoolSize>20</TCPThreadPoolSize>
		<TCPThreadPoolShutdownTimeout>60</TCPThreadPoolShutdownTimeout>
		<UDPThreadPoolSize>20</UDPThreadPoolSize>
		<UDPThreadPoolShutdownTimeout>60</UDPThreadPoolShutdownTimeout>
		<AXFRTimeout>30</AXFRTimeout>
		<RequireZones>false</RequireZones>
		<DefaultResponse>NXDOMAIN</DefaultResponse>
	</System>
	<ZoneProviders>
	</ZoneProviders>
	<Resolvers>
		<Resolver>
			<Name>Google 1</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">8.8.8.8</Property>
				<Property name="timeout">1</Property>
				
				<!-- This property disables spoofing on timeouts if set to true -->
				<Property name="replyOnTimeout">true</Property>
				
				<!-- This property needs to be set to false in order for spoofing to work -->
				<Property name="replyOnUnsuccessfulLookup">false</Property>
			</Properties>			
		</Resolver>
		<Resolver>
			<Name>Google 2</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">8.8.4.4</Property>
				<Property name="timeout">1</Property>
				
				<!-- This property disables spoofing on timeouts if set to true -->
				<Property name="replyOnTimeout">true</Property>
				
				<!-- This property needs to be set to false in order for spoofing to work -->
				<Property name="replyOnUnsuccessfulLookup">false</Property>			
				
				<!-- This property ensures that this resolver will not handle any requests unless the resolver named 'Google 1' is offline -->
				<Property name="failoverForResolver">Google 1</Property>				
			</Properties>			
		</Resolver>
		<Resolver>
			<Name>Spoofing resolver (A records)</Name>
			<Class>se.unlogic.eagledns.resolvers.ASpoofingResolver</Class>
			<Properties>
				<Property name="address">127.0.0.1</Property>
			</Properties>						
		</Resolver>
		<Resolver>
			<Name>Spoofing resolver (AAAA records)</Name>
			<Class>se.unlogic.eagledns.resolvers.AAAASpoofingResolver</Class>
			<Properties>
				<Property name="address">::1</Property>
			</Properties>						
		</Resolver>								
	</Resolvers>
	<Plugins>
		<Plugin>
			<Name>RMI remote management</Name>
			<Class>se.unlogic.eagledns.plugins.RMIRemoteManagementPlugin</Class>
			<Properties>
				<Property name="password">secret</Property>
				<Property name="port">5353</Property>
			</Properties>
		</Plugin>
		
		<!-- This is a new plugin that keeps track of the number of queries handled, spoofed and timedout -->
		<Plugin>
			<Name>Query statistics</Name>
			<Class>se.unlogic.eagledns.plugins.QueryStatsPlugin</Class>
			<Properties>
				<!-- This property controls how often statistics should be saved to file (in seconds) -->
				<Property name="savingInterval">10</Property>
				
				<!-- This property controls where the statistics file is written -->
				<Property name="filePath">logs/querystats.log</Property>
			</Properties>
		</Plugin>
	</Plugins>	
</Config>