<Config>
	<System>
		<Port>53</Port>
		<TCPThreadPoolSize>20</TCPThreadPoolSize>
		<TCPThreadPoolShutdownTimeout>60</TCPThreadPoolShutdownTimeout>
		<UDPThreadPoolSize>20</UDPThreadPoolSize>
		<UDPThreadPoolShutdownTimeout>60</UDPThreadPoolShutdownTimeout>
		<AXFRTimeout>30</AXFRTimeout>
		<RemoteManagementPort>5353</RemoteManagementPort>
		<RemoteManagementPassword>secret</RemoteManagementPassword>
		<RequireZones>false</RequireZones>
		<DefaultResponse>NXDOMAIN</DefaultResponse>
	</System>
	<ZoneProviders>
	</ZoneProviders>
	<Resolvers>
		<Resolver>
			<Name>Google 1</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">8.8.8.8</Property>
				<Property name="timeout">1</Property>
			</Properties>			
		</Resolver>
		<Resolver>
			<Name>Google 2</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">8.8.4.4</Property>
				<Property name="timeout">1</Property>
			</Properties>			
		</Resolver>
		<Resolver>
			<Name>Spoofing resolver (A records)</Name>
			<Class>se.unlogic.eagledns.resolvers.ASpoofingResolver</Class>
			<Properties>
				<Property name="address">127.0.0.1</Property>
			</Properties>						
		</Resolver>
		<Resolver>
			<Name>Spoofing resolver (AAAA records)</Name>
			<Class>se.unlogic.eagledns.resolvers.AAAASpoofingResolver</Class>
			<Properties>
				<Property name="address">::1</Property>
			</Properties>						
		</Resolver>								
	</Resolvers>	
</Config>