<Config>
	<System>
		<Port>50053</Port>
		<TCPThreadPoolSize>20</TCPThreadPoolSize>
		<TCPThreadPoolShutdownTimeout>60</TCPThreadPoolShutdownTimeout>
		<UDPThreadPoolSize>20</UDPThreadPoolSize>
		<UDPThreadPoolShutdownTimeout>60</UDPThreadPoolShutdownTimeout>
		<AXFRTimeout>30</AXFRTimeout>
		<RemoteManagementPort>5353</RemoteManagementPort>
		<RemoteManagementPassword>secret</RemoteManagementPassword>
		<RequireZones>true</RequireZones>
		
		<!-- NOERROR or NXDOMAIN -->
		
		<DefaultResponse>NXDOMAIN</DefaultResponse>
	</System>
	<ZoneProviders>
		<ZoneProvider>
			<Name>Default file zone provider</Name>
			<Class>se.unlogic.eagledns.zoneproviders.file.FileZoneProvider</Class>
			<Properties>
				<Property name="zoneFileDirectory">zones</Property>
				<Property name="autoReloadZones">false</Property>
				<Property name="pollingInterval">10000</Property>
			</Properties>
		</ZoneProvider>
<!--		<ZoneProvider>-->
<!--			<Name>Default DB zone provider</Name>-->
<!--			<Class>se.unlogic.eagledns.zoneproviders.db.DBZoneProvider</Class>-->
<!--			<Properties>-->
<!--				<Property name="driver">com.mysql.jdbc.Driver</Property>-->
<!--				<Property name="username">root</Property>-->
<!--				<Property name="password">root</Property>-->
<!--				<Property name="url">jdbc:mysql://localhost:3306/eagledns</Property>-->
<!--			</Properties>-->
<!--		</ZoneProvider>		-->
	</ZoneProviders>
	<Resolvers>
<!--		<Resolver>-->
<!--			<Name>Authoritative resolver</Name>-->
<!--			<Class>se.unlogic.eagledns.resolvers.AuthorativeResolver</Class>-->
<!--		</Resolver>-->

		<Resolver>
			<Name>BBB</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">192.168.1.1</Property>
				<Property name="timeout">1</Property>
			</Properties>			
		</Resolver>
		<Resolver>
			<Name>dns.unlogic.se</Name>
			<Class>se.unlogic.eagledns.resolvers.ForwardingResolver</Class>
			<Properties>
				<Property name="server">192.168.1.245</Property>
				<Property name="timeout">1</Property>
				<Property name="maxerrors">3</Property>
				<Property name="errorWindowsSize">30</Property>
				<Property name="validationQuery">ftp.samplezone.org</Property>
			</Properties>			
		</Resolver>
		<Resolver>
			<Name>Spoofing resolver</Name>
			<Class>se.unlogic.eagledns.resolvers.SpoofingResolver</Class>
			<Properties>
				<Property name="address">85.230.75.184</Property>
			</Properties>						
		</Resolver>					
	</Resolvers>	
</Config>