<Config>
	<System>
		<Port>53</Port>
		<TCPThreadPoolSize>10</TCPThreadPoolSize>
		<UDPThreadPoolSize>10</UDPThreadPoolSize>
		<RemoteManagementPort>5353</RemoteManagementPort>
		<RemoteManagementPassword>5353</RemoteManagementPassword>
	</System>
	<ZoneProviders>
		<ZoneProvider>
			<Name>Default file zone provider</Name>
			<Class>se.unlogic.eagledns.zoneproviders.file.FileZoneProvider</Class>
			<Properties>
				<Property name="zoneFileDirectory">zones</Property>
			</Properties>
		</ZoneProvider>
<!--		<ZoneProvider>-->
<!--			<Name>Default DB zone provider</Name>-->
<!--			<Class>se.unlogic.eagledns.zoneproviders.db.DBZoneProvider</Class>-->
<!--			<Properties>-->
<!--				<Property name="driver">com.mysql.jdbc.Driver</Property>-->
<!--				<Property name="username">eagledns</Property>-->
<!--				<Property name="password">eagledns</Property>-->
<!--				<Property name="url">jdbc:mysql://localhost:3306/eagledns</Property>-->
<!--			</Properties>-->
<!--		</ZoneProvider>		-->
	</ZoneProviders>
</Config>